<!DOCTYPE HTML>
<html>
	<head>
		<title>WebAuth</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
  <link rel="stylesheet" href="static/assets/stylesheets/ui.progress-bar.css">

	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>我的令牌 Plus</h1>
							<p id="logininfo">没有登录请求</p>

							<p class="major">点击获取验证码</p>
							<ul class="actions vertical">
								<li><a href="javascript:;" class="button big wide smooth-scroll-middle getcode">Get Code</a></li>
                                <li><div id="code"><p>验证码将会出现在此处</p></div></li>
    <!-- Progress bar -->
    <div id="progress_bar" class="ui-progress-bar ui-container">
      <div class="ui-progress" style="width: 79%;">
        <span class="ui-label" style="display:none;"> <b class="value">79%</b></span>
      </div>
    </div>
    <!-- /Progress bar -->
							</ul>
						</div>
						<div class="image">
							<img id="mathimg" src="" border=0 vspace=0 hspace=0 alt=""/>
						</div>
					</section>


				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">

							<p>&copy; Site. Design: <a href="https://acgow.com">AIZE.ORG</a>.</p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/javascripts/key.js" type="text/javascript" charset="utf-8" ></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
	  		<script src="static/assets/javascripts/progress.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>